:root {
  --bg-common: #f0f0f0;
  --text-color: #333;
  --header-color: #4a90e2;
  --button-bg: #4a90e2;
  --button-text: #fff;
  --button-hover-bg: #357ab8;
  --button-hover-text: #fff;
  --input-border: #ccc;
  --input-focus-border: #4a90e2;
  --completed-bg: #d3d3d3;
  --completed-text: #888;
  --list-item-bg: #a9d4fb;
  --list-item-hover-bg: #719fa59e;
  --list-item-text: #333;
  --list-item-hover-text: #fff;
  --todo-priority: #ff5900b8; /* Example color for priority */
  --todo-note: #6b6666; /* Example color for note */
  --todo-title: #333; /* Example color for title */
  --todo-content-bg: #a9d4fb; /* Background for todo content */
  --todo-content-hover-bg: #b68f8f9e; /* Hover background for todo content */
  --todo-title-font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; /* Font for todo title */
  --todo-note-font: "Arial", sans-serif; /* Font for todo note */
  --todo-form-bg: #36616e; /* Background for todo form */
  --todo-form-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px; /* Box shadow for todo form */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-common);
  padding: 20px;
  font-family: "Arial", sans-serif;
  color: var(--text-color);
  box-sizing: border-box;
}

.header {
  font-size: 2rem;
  height: 60px;
  text-align: center;
  color: var(--header-color);
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: var(--bg-common);
}

.top-header {
  display: flex;
  justify-content: center;
  width: 50%;
  max-width: 1200px;
  padding-left: 10px;
  align-items: center;
}

.intro-header {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 10px;
  text-align: center;
  padding: 0 10px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*form styles*/
#todo-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;

  padding: 20px 30px;
  background-color: var(--todo-form-bg, #fff);
  box-shadow: var(--todo-form-box-shadow);
  margin-bottom: 30px;
}

#todo-form input[type="text"],
#todo-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

#todo-form input[type="text"]:focus,
#todo-form textarea:focus {
  border-color: var(--input-focus-border);
  outline: none;
}

.delete-button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 5px 5px;
  border-radius: 6px;
  align-self: flex-end;
  cursor: pointer;
}

#todo-form button {
  border: none;
  border-radius: 7px;
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#todo-form button:hover {
  background-color: var(--button-hover-bg);
  color: var(--button-hover-text);
}

#todo-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

#todo-form select:focus {
  border-color: var(--input-focus-border);
  outline: none;
}

.completed {
  text-decoration: line-through;
  color: var(--completed-text);
  background-color: var(--completed-bg);
  padding: 5px;
  border-radius: 5px;
}

.completed .delete-button {
  display: none;
}

#todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 250px;
  background-color: var(--bg-common);
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--list-item-bg);
  color: var(--list-item-text);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 5px 0;
  font-family: var(--todo-note-font, Arial, sans-serif);
  font-size: 1rem;
  position: relative;
  transition: background-color 0.3s ease;
  cursor: pointer;
  max-width: 300px;
}

.list-item:hover {
  background-color: var(--list-item-hover-bg);
  color: var(--list-item-hover-text);
}

.todo-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.todo-title {
  font-weight: bold;
  color: var(--todo-title-color);
  font-size: 1rem;
  margin-right: 10px;
  font-family: var(--todo-title-font);
}

.todo-note {
  font-size: 0.9rem;
  color: var(--todo-note);
  margin-left: 10px;
}

.todo-priority {
  font-size: 0.9rem;
  color: var(--todo-priority, #ff9800);
  margin-left: 10px;
}
